.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

}

.product-image-wrapper {
  width: 100%;
  padding: 1rem;
  margin-bottom: 20px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  width: 100%;
  padding: 1rem;
  text-align: left;
}

.product-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.product-description {
  color: #555;
  margin-top: 0.6rem;
}

.product-rating {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-quantity {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

ion-button {
  --border-radius: 12px;
  --padding-start: 20px;
  --padding-end: 20px;
}

.AddToCartButton {
  --background: #303030 !important;
  color: #fff !important;
  font-weight: bold;
  border-radius: 12px;
  --background-focused: #303030 !important;
  --background-activated: #303030 !important;
  --background-hover: #444 !important;
  --color-focused: #fff !important;
  --color-activated: #fff !important;
}

.custom-toast {
  --background: #000;
  --color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
}
